---
---

@import "";

.bookmarklet-button {
  text-size: 1.25rem;
  display: flex;
  padding: 15px;
  justify-content: center;
  place-items: center;
  color: red;
}

.bookmarklet-button a {
  color: red;
  font-style: bold;
}

.bookmarklet-button a::hover {
  text-size: 1.5rem;
  color: blue;
}

.bookmarklet-button p {
  color: yellow;
}

