---
---

@import "{{ site.theme }}";

.bookmarklet-button {
  display: flex;
  padding: 20px 15px;
  justify-content: center;
  place-items: center;
  width: 325px;
  background: #1491ffd1;
  border-radius: 10px;
  margin-bottom: 20px;
  color: white;
  
  &:hover {
    background: #1491ff;
  }
  
  a {
    font-size: 1.25rem;
    padding-right: 4px;
  }  
  
}

// thanks Ian Forrest: https://www.gradient-animator.com/
.css-selector {
    background: linear-gradient(185deg, #1491ff, #1458ff, #5714ff, #dd14ff, #1458ff, #1491ff);
    background-size: 1200% 1200%;

    -webkit-animation: buttongrad 17s ease infinite;
    -moz-animation: buttongrad 17s ease infinite;
    animation: buttongrad 17s ease infinite;
}

@-webkit-keyframes buttongrad {
    0%{background-position:99% 0%}
    50%{background-position:2% 100%}
    100%{background-position:99% 0%}
}
@-moz-keyframes buttongrad {
    0%{background-position:99% 0%}
    50%{background-position:2% 100%}
    100%{background-position:99% 0%}
}
@keyframes buttongrad {
    0%{background-position:99% 0%}
    50%{background-position:2% 100%}
    100%{background-position:99% 0%}
}
